<html>
<head>
    <script type="text/javascript" src="/static/js/submit-async.js"></script>
</head>
<body>

<div>
    <form id="uploadForm" enctype="multipart/form-data">
        <table>
            <tr>
                <td>Pdf to check:</td>
                <td><input type="file" name="file" id="fileInput" accept="application/pdf"/></td>
            </tr>
            <tr>
                <td></td>
                <td><input style="display: none;" id="submit" type="submit" value="Upload"/></td>
            </tr>
        </table>
    </form>
    <pre id="result"></pre>
</div>


</body>
</html>